In [9]:
import json
import operator
import os
import re
import sys
import pandas as pd

In [10]:
data_dir='./semeval2014/bert-pair/'

In [11]:
train = pd.read_csv(data_dir+"train_QA_M.csv",sep='\t', names=["id", "label", "sentence2", "sentence1"])
test  = pd.read_csv(data_dir+"test_QA_M.csv",sep='\t', names=["id", "label", "sentence2", "sentence1"])

In [12]:
print(train.shape)
print(test.shape)

(15220, 4)
(4000, 4)

In [13]:
available_labels = ["price", "anecdotes", "food", "ambience", "service"]

train['aspect'] = ""
test['aspect'] = ""

for index, row in train.iterrows():

    if "price" in row["sentence2"]:
        train.at[index,'aspect'] = "price" 

    if "anecdotes" in row["sentence2"]:
        train.at[index,'aspect'] = "anecdotes" 

    if "food" in row["sentence2"]:
        train.at[index,'aspect'] = "food" 

    if "ambience" in row["sentence2"]:
        train.at[index,'aspect'] = "ambience" 

    if "service" in row["sentence2"]:
        train.at[index,'aspect'] = "service" 

for index, row in test.iterrows():

    if "price" in row["sentence2"]:
        test.at[index,'aspect'] = "price" 

    if "anecdotes" in row["sentence2"]:
        test.at[index,'aspect'] = "anecdotes" 

    if "food" in row["sentence2"]:
        test.at[index,'aspect'] = "food" 

    if "ambience" in row["sentence2"]:
        test.at[index,'aspect'] = "ambience" 

    if "service" in row["sentence2"]:
        test.at[index,'aspect'] = "service"

In [14]:
train["sentence1"] = train["aspect"] + " " + train["sentence1"]
test["sentence1"] = test["aspect"] + " " + test["sentence1"]

# delete 
del train['sentence2']
del train['aspect']
del test['sentence2']
del test['aspect']

train.head(15)

      id     label                                          sentence1
0   3121      none         price But the staff was so horrible to us.
1   3121      none     anecdotes But the staff was so horrible to us.
2   3121      none          food But the staff was so horrible to us.
3   3121      none      ambience But the staff was so horrible to us.
4   3121  negative       service But the staff was so horrible to us.
5   2777      none  price To be completely fair, the only redeemin...
6   2777  negative  anecdotes To be completely fair, the only rede...
7   2777  positive  food To be completely fair, the only redeeming...
8   2777      none  ambience To be completely fair, the only redee...
9   2777      none  service To be completely fair, the only redeem...
10  1634      none  price The food is uniformly exceptional, with ...
11  1634      none  anecdotes The food is uniformly exceptional, w...
12  1634  positive  food The food is uniformly exceptional, with a...
13  1634      none  ambience The food is uniformly exceptional, wi...
14  1634      none  service The food is uniformly exceptional, wit...

In [18]:
data_dir_out='./semeval2014/bert-sentclass-semeval2014/'

train.to_csv(data_dir_out+"train_QA_M.csv",sep='\t')
test.to_csv(data_dir_out+"test_QA_M.csv",sep='\t')