In [1]:
import json
import operator
import os
import re
import sys
import pandas as pd

In [2]:
data_dir='./sentihood/bert-sentclass/'

In [3]:
train = pd.read_csv(data_dir+"train_QA_M.tsv",sep='\t')
test  = pd.read_csv(data_dir+"test_QA_M.tsv",sep='\t')
dev = pd.read_csv(data_dir+"dev_QA_M.tsv",sep='\t')

In [4]:
print(train.shape)
print(test.shape)
print(dev.shape)

(14660, 4)
(7376, 4)
(3688, 4)

#### CONVERT TO [SEP1], [SEP2]

In [12]:
train.head()

     id                                          sentence1 label positions
0     0                  LOCATION2 , { LOCATION1 general }  None      2 4
1     0                    LOCATION2 , { LOCATION1 price }  None      2 4
2     0                   LOCATION2 , { LOCATION1 safety }  None      2 4
3     0         LOCATION2 , { LOCATION1 transit location }  None    2 4 5
4  1000  { LOCATION1 general } is one of the most expen...  None      0 2

In [19]:
train['sentence1'] = train['sentence1'].replace('{','[SEP1]', regex=True)
train['sentence1'] = train['sentence1'].replace('}','[SEP2]', regex=True)

In [20]:
train.head()

     id                                          sentence1 label positions
0     0        LOCATION2 , [SEP1] LOCATION1 general [SEP2]  None      2 4
1     0          LOCATION2 , [SEP1] LOCATION1 price [SEP2]  None      2 4
2     0         LOCATION2 , [SEP1] LOCATION1 safety [SEP2]  None      2 4
3     0  LOCATION2 , [SEP1] LOCATION1 transit location ...  None    2 4 5
4  1000  [SEP1] LOCATION1 general [SEP2] is one of the ...  None      0 2

In [21]:
test['sentence1'] = test['sentence1'].replace('{','[SEP1]', regex=True)
test['sentence1'] = test['sentence1'].replace('}','[SEP2]', regex=True)

In [23]:
test.tail()

       id                                          sentence1 label positions
7371  997  So far we 've been living in [SEP1] LOCATION2 ...  None   7 9 10
7372  998  I was about equidistant from LOCATION1 and [SE...  None      7 9
7373  998  I was about equidistant from LOCATION1 and [SE...  None      7 9
7374  998  I was about equidistant from LOCATION1 and [SE...  None      7 9
7375  998  I was about equidistant from LOCATION1 and [SE...  None   7 9 10

In [24]:
data_dir_out='./sentihood/bert-sentclass-special-token/' 

train.to_csv(data_dir_out+"train_QA_M.tsv",sep='\t')
test.to_csv(data_dir_out+"test_QA_M.tsv",sep='\t')